<h1>TASKS</h1>


<%= form_for @todo, :remote => true do |f| %>
	<%= f.text_field :name, :class=>"ajax_submit" %>
	<%= f.hidden_field :done, :value=>false %>
	<%= f.hidden_field :user, :value=>current_user.email %>
	<%= f.submit %>
<% end %>

<h3> TO DO </h3>
<ul class="todos">
		<% @todos.each do |t| %>
			<%= render partial: "todo", object:t  %>
		<% end %>
</ul>

<h3> DONE </h3>
<ul>
<% @todones.each do |t| %>
	<li>
		<strong><%= t.name %></strong>
		<small><%= link_to "Remove", t, :confirm => "You sure?", :method => :delete %></small>
	</li>
<% end %>
</ul>

<%= link_to "Add new task", new_todo_path %>