<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= todos_path %>">one day</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <!--
      <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
      </ul>
  	  -->

      <ul class="nav navbar-nav navbar-right">
        <li><a href="">About</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="">Your statistics</a></li>
            <li class="divider"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method=> :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="main_container">
	<!--
		<h1>TASKS</h1>
	-->
	<%= form_for @todo, :remote => true do |f| %>
		<div class="input-group task_bar">
			<%= f.text_field :name, :class=>"ajax_submit form-control", :placeholder=>"Read 10 pages of Infinite Jest", :required => true %>
		    <span class="input-group-btn">
		      <button name="commit" type="submit" class="btn btn-default">
		      	<i class="glyphicon glyphicon-plus"></i>
		      </button>
		    </span>
		</div>
		<%= f.hidden_field :done, :value=>false %>
		<%= f.hidden_field :user, :value=>current_user.email %>
	<% end %>

	<div id="todo_container">
		<ul class="todos list-group">
				<% @todos.each do |t| %>
					<%= render partial: "todo", locals: {todo: t}  %>
				<% end %>
		</ul>
	</div>

	<h3 id="done" class="semi_title"> done </h3>

	<div id="todone_container">
		<ul class="todones list-group">
				<% @todones.each do |t| %>
					<%= render partial: "todone", locals: {todo: t} %>
				<% end %>
		</ul>
	</div>
</div>
<!--
<%= link_to "Add new task", new_todo_path %>
-->