<script>

function activeTab($this){
		$('.nav-tabs li').removeClass('active');
		$this.addClass('active');	
}

// Grabbing title!
function pad(n) {
    if (n < 10)
        return "0" + n;
    return String(n);
}

function insertList_Week( bar_element ){

	$(".modal").modal();
	var str = pad(bar_element.year) + pad(bar_element.month) + pad(bar_element.date);
	var title = moment(str, "YYYYMMDD").format("dddd, MMMM Do");
	// Grabbing title for modal
	$(".modal-title").html(title);

	console.log( bar_element );

	for (var i = 0; i < bar_element.task_list.length; i++){

		var text =  bar_element.task_list[i];

		var element = "<li class='list-group-item'>"+ text +"</li>";
		$("#tasks_go_here").append(element);
	} 
	// Populating the list
	// var element = "<li class='list-group-item'><span class='badge'>"+ time +"</span>"+ text +"</li>";
}

function insertList_Month ( bar_element ){
	$(".modal").modal();
	$(".modal-title").html(bar_element.label);
	
	console.log( bar_element );

	var allElements = _.pluck(bar_element.values, "task_list");
	_.each(allElements, function(arr){
		_.each(arr, function(el){
			var element = "<li class='list-group-item'>"+ el +"</li>";
			$("#tasks_go_here").append(element);
		});
	});
}

// Just before testing, see how things get assigned to task_list!!!
function insertList_Year( bar_element ){
	$(".modal").modal();
	$(".modal-title").html(  bar_element.label  );

	var allElements = _.pluck(bar_element.values, "task_list");
	console.log(allElements);
	_.each(allElements, function(arr){
		_.each(arr, function(el){
			var element = "<li class='list-group-item'>"+ el +"</li>";
			$("#tasks_go_here").append(element);
		});
	});
}

// Submenu control
$(document).on('click', '.nav-tabs li', function(event){
	if ($(this).hasClass('active')){
		console.log("mah here");
		return;
	}
	else if ($(this).attr('id') == 'week_graph'){
		drawGraph( getWeekGraphValues() );
		activeTab($(this));
	}
	else if ($(this).attr('id') == 'month_graph'){
		drawGraph( getMonthGraphValues() );
		activeTab($(this));
	}
	else if ($(this).attr('id') == 'year_graph'){
		drawGraph( getYearlyGraphValues() );
		activeTab($(this));
	}
}).on('click','.nv-series-0 g', function(e){
	var active = $(".active").attr('id');
	var idx = $(this).index();
	var title;

	if (active == "week_graph"){
		var vals = getWeekData();
		var _day = $($('text').get(idx)).html();
		title = _day;
		var foundItem = _.findWhere(vals, { day: _day });
		insertList_Week( foundItem );
	}
	else if (active == "month_graph"){
		var vals = setupGraphValues_Month().reverse();
		var _item = $($('text').get(idx)).html();
		title = _item;
		var foundItem = _.findWhere(vals, { label: _item });
		insertList_Month( foundItem );
	}
	else if (active == "year_graph"){
		var vals = setupGraphValues_Year();
		var _month =  $($('text').get(idx)).html();
		title = _month;
		var foundItem = _.findWhere(vals, { label: _month });

		insertList_Year( foundItem );
	}
}).on('click', '.close', function(e){
	$("#tasks_go_here").html("");
});

// Camel Case - structures used in graphing/analysis
// Underscores - intermediates
function DateObj(iso8601){
	// Look into how the unary operator works.
	this.date = +moment(iso8601).format('D');
	this.month = +moment(iso8601).format('M');
	this.year = +moment(iso8601).format('YYYY');
	this.day = moment(iso8601).format('dddd');
	this.task_list = [];
}

function setupGraphValues_Week(){
	var weekGraphVals = [];
	for ( var i = 0; i < 7; i++ ){
		//Walking back seven days. 
		var currDate = moment().subtract('days', i);
		var tempDate = new DateObj(currDate.format());
		weekGraphVals.push( tempDate );
	}
	return weekGraphVals;
}

function setupGraphValues_Month(){
	var monthlyGraphVals = [];
	var values = ['This Week', '1 Week Ago', '2 Weeks Ago', '3 Weeks Ago'];

	for ( var i = 0; i < values.length; i++ ){
		var obj = {  label: values[i], values: []  };
		obj.values = ($("#past_week_data_"+ i +"").data('url')).slice(0);

		// Changing values from regular objects to DateObjs.
		for ( var j = 0; j < obj.values.length; j++ ){
			var task = obj.values[j].name;
			obj.values[j] = new DateObj( obj.values[j].updated_at );
			obj.values[j].task_list.push( task );
		}
		monthlyGraphVals.push( obj );
		
	}
	return monthlyGraphVals;
}

function setupGraphValues_Year(){
	var yearlyGraphVals = [];
	var year = (new Date()).getFullYear();

	var values = ($('#this_year_data').data('url')).slice(0).reverse();

	for ( var i = 0; i < values.length; i++ ){
		var obj = { label: moment( String(i+1) ).format('MMMM') + ", " + year, values: [] };
		//Changing values from regualr objects to DateObjs
		for (var j = 0; j < values[i].length; j++){
			var task = values[i][j].name;
			obj.values[j] = new DateObj(values[i][j].updated_at);
			obj.values[j].task_list.push(task);
		}
		yearlyGraphVals.push( obj );
	}
	console.log(yearlyGraphVals);
	return yearlyGraphVals;
}

function updateCount( db_entry, graphValues ){

	var iso8601 = db_entry.updated_at;

	// Date to add one task to
	var addTo = new DateObj( iso8601 );

	var findVal = _.findWhere( graphValues, { 
		date: addTo.date,
		month: addTo.month,
		year: addTo.year
	 } );

	//If entry found, and it should unless you designed wrong.
	if (findVal){
		// Rets shallow copy, so we can modify graphValues from here
		findVal.task_list.push( db_entry.name ); 
	}

}

function getWeekData(){

	var weekGraphValues = setupGraphValues_Week();
	var week_data = $('#week_data').data('url');

	_.each( week_data, function( entry ){
		updateCount( entry , weekGraphValues );
	});

	return weekGraphValues;	
}
// Format the raw data like so for nvd3	
// {key: "Title", values: [{label: "...", value: 10},{...},{...}]}
function getWeekGraphValues(){
	var raw = getWeekData();
	var toGraph = {};

	toGraph.key = "Tasks from the Last 7 Days";
	toGraph.values = [];

	_.each(raw, function(entry){
		var obj = {     
						label: entry.day,
						value: entry.task_list.length
				  };
		toGraph.values.push( obj );
	});

	toGraph.values.reverse();
	return [toGraph];
}

function getMonthGraphValues(){
	var raw = setupGraphValues_Month();

	var toGraph = {};
	toGraph.key = "Tasks from the Last Month";
	toGraph.values = [];

	_.each(raw, function(entry){
		var obj = {
			label: entry.label,
			value: entry.values.length
		};
		toGraph.values.push( obj );
	});

	toGraph.values.reverse();
	return [toGraph];
}

function getYearlyGraphValues(){
	var raw = setupGraphValues_Year();

	var toGraph = {};
	toGraph.key = "Tasks from the Last Year";
	toGraph.values = [];

	_.each(raw, function(entry){
		var obj = {
			label: entry.label,
			value: entry.values.length
		};
		toGraph.values.push( obj );
	});
	
	return [toGraph];
}

function drawGraph( src ){

	nv.addGraph(function() {
	  var chart = nv.models.discreteBarChart()
	      .x(function(d) { return d.label })    //Specify the data accessors.
	      .y(function(d) { return d.value })
	      .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
	      .tooltips(false)        //Don't show tooltips
	      .showValues(true)       //...instead, show the bar value right on top of each bar.
	      .transitionDuration(350)
	      ;

	  d3.select('#graph_container svg')
	      .datum( src )
	      .call(chart);

	  nv.utils.windowResize(chart.update);
	  $(".nv-axis text").css('fill','white');
	  return chart;
	});	
}

$( document ).ready(function() {

	drawGraph( getWeekGraphValues() );

	$('.modal').on('hidden.bs.modal', function (e) {
	  $("#tasks_go_here").html("");
	})

});


</script>
<%= content_tag "div", id: "today_data", data: {url: @today_data } do %>
<% end %>
<%= content_tag "div", id: "week_data", data: {url: @week_data } do %>
<% end %>
<%= content_tag "div", id: "year_data", data: {url: @year_data } do %>
<% end %>
<%= content_tag "div", id: "past_week_data_0", data: {url: @past_week_data[0] } do %>
<% end %>
<%= content_tag "div", id: "past_week_data_1", data: {url: @past_week_data[1] } do %>
<% end %>
<%= content_tag "div", id: "past_week_data_2", data: {url: @past_week_data[2] } do %>
<% end %>
<%= content_tag "div", id: "past_week_data_3", data: {url: @past_week_data[3] } do %>
<% end %>
<%= content_tag "div", id: "this_year_data", data: {url: @this_year_data } do %>
<% end %>


<div class="modal fade">
  <div class="modal-dialog modal-width-override">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Placeholder<!-- THE DAY / WEEK / MONTH GOES HERE --></h4>
      </div>
      <div class="modal-body modal-override">
		<ul id='tasks_go_here' class="list-group">			  		  		  		  		  		    
		</ul>
      </div>
      <div class="modal-footer">
      	<!-- Footer shit here -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="color:white;"class="container ">
	<div class="page-header">
  		<h1>My Statistics <small></small></h1>
	</div>
	<div class="row time_constant">
		  <div class="col-xs-6 col-sm-4">
		  	<h3>Today</h3>
			<hr>
		  	<div id="today" class="count">
		  		<%= @today_data.size %>
		  	</div>
		  </div>
		  <div class="col-xs-6 col-sm-4">
		  	<h3>Last 7 Days</h3>
			<hr>
		  	<div id="week" class="count">
				<%= @week_data.size %>
		  	</div>
		  </div>
		  <div class="col-xs-12 col-sm-4">
		  	<h3>Last 4 Weeks</h3>
			<hr>
		  	<div id="month" class="count">
				<%= @month_data.size %>
		  	</div>
		  </div>		  
	</div>
	<div class="row graph_tabs">
		<div class="col-xs-12 col-sm-12">
			<ul class="nav nav-tabs">
			  <li id='week_graph' class="active"><a class="tab_color">Last 7 Days</a></li>
			  <li id='month_graph'><a class="tab_color" >Last 4 Weeks</a></li>
			  <li id='year_graph'><a class="tab_color" >This Year</a></li>
			</ul>	
		</div>
	</div>
	<br><br>
	<div class="row graphs">
		<div id="graph_container" class="col-xs-12 col-sm-12">
			<svg>
			</svg>
		</div>
	</div>
</div>