<script>
function getWeekData(){

	var week_count = [];
		for (var i = 0; i < 7; i++){
			week_count.push({ 
							 "label" : moment().subtract('days',i).format('dddd'),
							 "value" : 0
			});
		}

		function updateCount(weekc, weekday){
			for (var i = 0; i < weekc.length; i++){
				if ( weekc[i].label == weekday ){
					weekc[i].value += 1;
					break;
				}
			}
		}

		var week_data = $("#week_data").data("url");
		
		console.log(week_data.length);
		for (var i = 0; i < week_data.length; i ++){ 
			updateCount( week_count, moment(week_data[i].updated_at).format('dddd') )
		}

		
		var return_obj = [];
		return_obj.push({
			key: "Tasks From 7 Days Ago",
			values: week_count.reverse()
		});

		return return_obj;		
}

$( document ).ready(function() {
    
	nv.addGraph(function() {
	  var chart = nv.models.discreteBarChart()
	      .x(function(d) { return d.label })    //Specify the data accessors.
	      .y(function(d) { return d.value })
	      .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
	      .tooltips(false)        //Don't show tooltips
	      .showValues(true)       //...instead, show the bar value right on top of each bar.
	      .transitionDuration(350)
	      ;

	  d3.select('#graph_container svg')
	      .datum( getWeekData() )
	      .call(chart);

	  nv.utils.windowResize(chart.update);
	  $(".nv-axis text").css('fill','white');
	  return chart;
	});

	// Change nvd3 source? Figure out better place to put this 
	setInterval(function(){
		$( "text" ).each(function() {
	  		var delimited_text = ($(this).html()).split(".");
			if ( delimited_text.length == 2 ){
				$(this).html( delimited_text[0] );
			}
		});		
	},100);

});


</script>
<%= content_tag "div", id: "today_data", data: {url: @today_data } do %>
<% end %>
<%= content_tag "div", id: "week_data", data: {url: @week_data } do %>
<% end %>
<%= content_tag "div", id: "year_data", data: {url: @year_data } do %>
<% end %>
<div style="color:white;"class="container ">
	<div class="page-header">
  		<h1>My Statistics <small></small></h1>
	</div>
	<div class="row time_constant">
		  <div class="col-xs-6 col-sm-4">
		  	<h3>Today</h3>
			<hr>
		  	<div id="today" class="count">
		  		<%= @today %>
		  	</div>
		  </div>
		  <div class="col-xs-6 col-sm-4">
		  	<h3>The Last 7 Days</h3>
			<hr>
		  	<div id="week" class="count">
				<%= @week %>
		  	</div>
		  </div>
		  <div class="col-xs-12 col-sm-4">
		  	<h3>This Month</h3>
			<hr>
		  	<div id="month" class="count">
				<%= @year %>
		  	</div>
		  </div>		  
	</div>
	<div class="row graph_tabs">
		<div class="col-xs-12 col-sm-12">
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab">Last 7 Days</a></li>
			  <!--
			  <li><a data-toggle="tab">This Month</a></li>
			  <li><a data-toggle="tab">This Year</a></li>
			  -->
			</ul>	
		</div>
	</div>
	<br><br>
	<div class="row graphs">
		<div id="graph_container" class="col-xs-12 col-sm-12">
			<svg>
			</svg>
		</div>
	</div>
</div>