<!DOCTYPE html>
<html>
<head>
  <title>six tasks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>  

  <!-- jQuery UI -->
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %> 
  <%= render partial: "nav" %>
<% else %>
	<h1 id="logo">six tasks</h1>
	<div id="sign_container">
		<div id="sign_up" class="sign">
			<%= link_to "S I G N&nbsp;&nbsp;U P".html_safe, new_user_registration_path %>
		</div>
		<div id="sign_in" class="sign">
			<%= link_to "S I G N&nbsp;&nbsp;I N".html_safe, new_user_session_path %> 
		</div>
	</div>
	<!--
		<div style="font-family: Helvetica;color: white;text-align: center;margin-top: 73px;">Figure your day out before it begins.</div>	
	-->
<% end %> 

<%= yield %>
  <script>

  function sendAjaxUpdate(_id){
  	  	//Actual AJAX call
	  	$.ajax({
	    	type: "PUT",
	        url: "/todos/"+_id+"?_method=PUT",
		});
  }

  function sendAjaxDelete(_id){
        //Actual AJAX call
      $.ajax({
        type: "DELETE",
          url: "/todos/"+_id+"?_method=DELETE",
    });
  }

  function updateDoneCount(str){
    var current = parseFloat($("#done-count").html());
    if (str == "add"){
      $("#done-count").html(current + 1);
      $("#done").fadeIn();        
    }
    else if (str == "sub"){

      if ((current - 1) == 0){
        $("#done").fadeOut();        
      }
      $("#done-count").html(current - 1); 
    }

    //Post addition/subtraction
    current = parseFloat($("#done-count").html());
  }  
  
  function TodosComplete(){
      $(".todos").on('click','.todo',function(e){
      if ($(this).children('input').is(":checked")){
        var _id = $(this).attr('data-id');
        sendAjaxUpdate(_id);
        updateDoneCount("add");
      }
    }); 
  }

  function TodonesUncomplete(){
      $(".todones").on('click','.todone',function(e){
      if ($(this).children('input').is(":checked") == false){
        var _id = $(this).attr('data-id');
        sendAjaxUpdate(_id);
        updateDoneCount("sub");
      }
    }); 
  }

  function destroyTask(){
      $(".todos").on('click','.remove',function(e){
        var _id = $(this).parent().attr('data-id');
        sendAjaxDelete(_id);
      }); 
  }

  function TodonesToggler(){
    $("#hide-toggle").click(function(){
      $(".todones").fadeToggle();
    });
  }  

  $(document).ready(function(){
    TodosComplete();
    TodonesUncomplete();
    destroyTask();
    TodonesToggler();
    
    $(".todos").sortable({ axis: "y" });


    <% if @todones %>
          <% if @todones.empty? %>
            $("#done").css('display','none');    
          <% end %>  
    <% end %>

    /*
    setInterval(function(){
      if ($(".todones li").filter(':visible').length == 0){
        $("#done").fadeOut("fast"); 
      }
      else {
        $("#done").fadeIn(); 
      }
    },1);
    */
    
  });
  </script>
</body>
</html>
